@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

main
  margin 50px
  line-height 30px

article
  display inline

article a
  font-size 1.25em
  color #900
  text-decoration none

time
  font-weight bold
  font-size 12px
  letter-spacing .1em
  color #888
  text-transform uppercase
