//- 
  Displays the header "A website by Jeffrey Veen". If the page is a post, 
  it includes a link back to the homepage.


header
  if page.layout == "post"
    |A website by&nbsp;
    address.author
      a(href=(config.url))
        =config.author
    //- else
    //-   =config.author
