extends base

block title
  title=config.title

block content
  each post in page.posts.data
    article
      time(datetime =post.date.format(YYY-MM-DD))
        =post.date.format(config.date_format)
      |  &raquo;&nbsp;
      a(href=url_for(post.path))
        =post.title
      |&nbsp;&nbsp;
