extends base

block content
  h1=config.author
  p A compilation of writing from 1998-2017.
  each post in page.posts.data
      article
        time(datetime =post.date.format(YYY-MM-DD))
          =post.date.format(config.date_format)
        | &nbsp;&raquo;&nbsp;
        a(href=url_for(post.path))
          =post.title
        | &nbsp;&nbsp;&nbsp;
